ul {
  list-style-type: none;
  padding: 0;
  font-size: medium;  
  padding: 20px;
  width: 500px;
  
  color: wheat;
  text-align: center;
  margin: auto;
}
ul li{
    border: 2px dotted aquamarine;
    border-radius: 25px;
    background-color: #002933;
}
